# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# workspaces
.idea/

# OS files
.DS_Store

# test files, dirs and binaries
test_config.yaml
test_output/
Instracker
